/* general */

*, 
*::after, 
*::before {
    box-sizing: border-box;
}

:root {
    --common-font-family: Verdana, Geneva, Tahoma, sans-serif;
    --text-color: rgb(43, 3, 3);
    --color1: rgb(203, 197, 180);
    --color2: rgb(43, 3, 3);
    --bar-width: 40px;
    --bar-height: 6px;
    --hamburger-gap: 6px;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap)*2);
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("index/images/index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    margin: 0;
    font-size: large;
    letter-spacing: 4px;
    font-family: var(--common-font-family);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.page {
    text-align: center;
    width: 100%;
    height: min-content;
}


/* hamburger menu */

.hamburger-menu {
    position: fixed;
    top: calc(var(--hamburger-margin) + 0.5rem);
    --x-width: calc(var(--hamburger-height)*1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    z-index: 8;      
    cursor: pointer;
    overflow-x: hidden;
    margin-left: 48.5%;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--color2);
    box-shadow: 0 0 0 1px var(--background);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--color2);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/-2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.hamburger-menu:has(input:checked) + .sidebar {
    transform: translateY(0);
}

.hamburger-menu:has(input:checked) {
    --background: var(--color1);
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    --background: var(--color1);
}

.sidebar {
    position: fixed;
    transition: translateY(100%) ease-in-out var(--animation-timing);
    transform: translateY(100%); 
    top: 0;
    padding: 0.5rem 1.5rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin));
    color: var(--color2);
    width: 100%;
    min-height: 100vh;
    z-index: 6;
    background-image: url("index/images/index.jpg");
    background-size: cover;
}

.sidebar-logo {
    margin-top: 5%;
    height: 50px;
}

.menu-option {
    font-size: 18px;
    padding: 10px;    
    margin: 15px;
    font-family: var(--common-font-family);
    font-weight: bold;
}

.menu-option a:hover {
    cursor: pointer;
}


/* header */

.header {
    background-image: url("index/images/index.jpg");
    background-size: cover;
    position: fixed;
    font-size: 20px;
    color: var(--text-color);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid var(--text-color);
    z-index: 2;
}

.header-options {
    padding-top: 30px;
    font-size: 25px;
    margin-left: 68.5%;
    font-weight: bold;
}

.header-option {
    margin-left: 10%;
    float: left;
    font-size: 75%;
    color: var(--text-color);
}

.header-logo {
    position: fixed;
    top: 10px;
    left: 0px;
    text-align: center;
    float: left;
    padding-left: 8px;
}

.header-logo-img {
    height: 45px;
}

.header-title {
    position: fixed;
    top: 25px;
    left: 20px;
    text-align: center;
    float: left;
    padding-left: 40px;
    font-weight: bold;
}


/* footer */

.footer {
    padding: 2%;
    color: var(--text-color);
}


/* about pages */

.about-content {
    padding-top: 5%;
}

.poet-details {
    margin-bottom: 2%;
}

.poet-details-span {
    display: block;
    margin: 1%;
    font-weight: bold;
}

.poet-name {
    color: var(--text-color);
    font-size: 35px;
}

.about-img {
    margin: 2%;
}

.about-poet-img {
    height: 40vh;
}

.about-div {
    margin: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

/* quotes pages */

.quotes-content {
    margin-top: 10%;
}

.quotes-title {
    font-size: 25px;
    font-weight: bold;
}

.quote-element {
    margin: 5%;
}

.quote-img {
    margin-bottom: 2%;
}
